<a href="https://colab.research.google.com/github/eododukale/93_Python_Data_Analytics_Projects/blob/main/PySparkSql2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=992d0f8b3dc5ca95c6c07f271c9f3435854ff237b9a17e0c03a12d2e55001313
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkSQL2").getOrCreate()

In [ ]:
countries_df = spark.read.csv("/content/countries.csv", header = True, inferSchema = True)

countries_df.show()

+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+
|COUNTRY_ID|               NAME|         NATIONALITY|COUNTRY_CODE|ISO_ALPHA2|         CAPITAL|POPULATION| AREA_KM2|REGION_ID|SUB_REGION_ID|INTERMEDIATE_REGION_ID|ORGANIZATION_REGION_ID|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+
|         1|        Afghanistan|              Afghan|         AFG|        AF|           Kabul|  38041754| 652230.0|       30|           30|                  NULL|                    30|
|         2|            Albania|            Albanian|         ALB|        AL|          Tirana|   2880917|  28748.0|       20|           70|                  NULL|                    20|
|         3|            Algeria|            Algerian|         DZA|        DZ|         Algiers|  43053054|2381741.0|       50|           40|                  NULL|                    20|
|         4|     American Samoa|     American Samoan|         ASM|        AS|       Pago Pago|     55312|    199.0|       40|           20|                  NULL|                    30|
|         5|            Andorra|            Andorran|         AND|        AD|Andorra la Vella|     77142|    468.0|       20|           70|                  NULL|                    20|
|         6|             Angola|             Angolan|         AGO|        AO|          Luanda|  31825295|1246700.0|       50|          160|                    80|                    20|
|         7|           Anguilla|           Anguillan|         AIA|        AI|      The Valley|     14869|     91.0|       10|           10|                    60|                    40|
|         8|         Antarctica|           Antarctic|         ATA|        AQ| McMurdo Station|      1106|   1.42E7|       40|         NULL|                  NULL|                    30|
|         9|Antigua and Barbuda|Antiguan or Barbudan|         ATG|        AG|      St. John's|     97118|    442.0|       10|           10|                    60|                    40|
|        10|          Argentina|           Argentine|         ARG|        AR|    Buenos Aires|  44780677|2780400.0|       10|           10|                    40|                    40|
|        11|            Armenia|            Armenian|         ARM|        AM|         Yerevan|   2957731|  29743.0|       30|          170|                  NULL|                    30|
|        12|              Aruba|              Aruban|         ABW|        AW|      Oranjestad|    106314|    180.0|       10|           10|                    60|                    40|
|        13|          Australia|          Australian|         AUS|        AU|        Canberra|  25203198|7692024.0|       40|           90|                  NULL|                    30|
|        14|            Austria|            Austrian|         AUT|        AT|          Vienna|   8955102|  83871.0|       20|          150|                  NULL|                    20|
|        15|         Azerbaijan|         Azerbaijani|         AZE|        AZ|            Baku|  10047718|  86600.0|       30|          170|                  NULL|                    30|
|        16|            Bahamas|            Bahamian|         BHS|        BS|          Nassau|    389482|  13943.0|       10|           10|                    60|                    40|
|        17|            Bahrain|            Bahraini|         BHR|        BH|          Manama|   1641172|    765.0|       30|          170|                  NULL|                    30|
|        18|         Bangladesh|         Bangladeshi|         BGD|        BD|           Dhaka| 163046161| 147570.0|       30|           30|                  NULL|                    30|
|        19|           Barbados|           Barbadian|         BRB|        BB|      Bridgetown|    287025|    430.0|       10|           10|                    60|                    40|
|        20|            Belarus|          Belarusian|         BLR|        BY|           Minsk|   9452411| 207600.0|       20|          140|                  NULL|                    20|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+
only showing top 20 rows

In [ ]:
countries_df.printSchema()

root
 |-- COUNTRY_ID: integer (nullable = true)
 |-- NAME: string (nullable = true)
 |-- NATIONALITY: string (nullable = true)
 |-- COUNTRY_CODE: string (nullable = true)
 |-- ISO_ALPHA2: string (nullable = true)
 |-- CAPITAL: string (nullable = true)
 |-- POPULATION: integer (nullable = true)
 |-- AREA_KM2: double (nullable = true)
 |-- REGION_ID: integer (nullable = true)
 |-- SUB_REGION_ID: integer (nullable = true)
 |-- INTERMEDIATE_REGION_ID: integer (nullable = true)
 |-- ORGANIZATION_REGION_ID: integer (nullable = true)

In [ ]:
#schema = TABLE([COLUMNS])  = StructType([StructField])

mystockdf = spark.read.csv("/content/stocks.csv", inferSchema=True, header=True)
mystockdf.printSchema()

root
 |-- symbol: string (nullable = true)
 |-- date: string (nullable = true)
 |-- price: double (nullable = true)

In [ ]:
from pyspark.sql.types import *

mystockschema = StructType([
    StructField("symbol", StringType(), True),
    StructField("date", DateType(), True),
    StructField("price", FloatType(), True),
])

In [ ]:
mystockdf = spark.read.format("csv").option("header", "true").schema(mystockschema).load("/content/stocks.csv")
mystockdf.printSchema()

root
 |-- symbol: string (nullable = true)
 |-- date: date (nullable = true)
 |-- price: float (nullable = true)

In [ ]:
mystockdf.write.mode('overwrite').format("parquet").save("mystocks.parquet")

In [ ]:
countries_df.write.mode('overwrite').partitionBy('REGION_ID').csv('countries_part_by_region_id', header = True)

In [ ]:
countries_df.write.mode('overwrite').partitionBy('REGION_ID', 'SUB_REGION_ID').csv('countries_part_by_region_id_sub_region', header = True)

In [ ]:
type(countries_df.rdd)

pyspark.rdd.RDD

In [ ]:
# SELECTING COLUMNS

countries_df.printSchema()

root
 |-- COUNTRY_ID: integer (nullable = true)
 |-- NAME: string (nullable = true)
 |-- NATIONALITY: string (nullable = true)
 |-- COUNTRY_CODE: string (nullable = true)
 |-- ISO_ALPHA2: string (nullable = true)
 |-- CAPITAL: string (nullable = true)
 |-- POPULATION: integer (nullable = true)
 |-- AREA_KM2: double (nullable = true)
 |-- REGION_ID: integer (nullable = true)
 |-- SUB_REGION_ID: integer (nullable = true)
 |-- INTERMEDIATE_REGION_ID: integer (nullable = true)
 |-- ORGANIZATION_REGION_ID: integer (nullable = true)

In [ ]:
countries_df.select('name', 'population', 'capital').show()

+-------------------+----------+----------------+
|               name|population|         capital|
+-------------------+----------+----------------+
|        Afghanistan|  38041754|           Kabul|
|            Albania|   2880917|          Tirana|
|            Algeria|  43053054|         Algiers|
|     American Samoa|     55312|       Pago Pago|
|            Andorra|     77142|Andorra la Vella|
|             Angola|  31825295|          Luanda|
|           Anguilla|     14869|      The Valley|
|         Antarctica|      1106| McMurdo Station|
|Antigua and Barbuda|     97118|      St. John's|
|          Argentina|  44780677|    Buenos Aires|
|            Armenia|   2957731|         Yerevan|
|              Aruba|    106314|      Oranjestad|
|          Australia|  25203198|        Canberra|
|            Austria|   8955102|          Vienna|
|         Azerbaijan|  10047718|            Baku|
|            Bahamas|    389482|          Nassau|
|            Bahrain|   1641172|          Manama|
|         Bangladesh| 163046161|           Dhaka|
|           Barbados|    287025|      Bridgetown|
|            Belarus|   9452411|           Minsk|
+-------------------+----------+----------------+
only showing top 20 rows

In [ ]:
countries_df.select(countries_df.NAME, countries_df.POPULATION, countries_df.CAPITAL).show()

+-------------------+----------+----------------+
|               NAME|POPULATION|         CAPITAL|
+-------------------+----------+----------------+
|        Afghanistan|  38041754|           Kabul|
|            Albania|   2880917|          Tirana|
|            Algeria|  43053054|         Algiers|
|     American Samoa|     55312|       Pago Pago|
|            Andorra|     77142|Andorra la Vella|
|             Angola|  31825295|          Luanda|
|           Anguilla|     14869|      The Valley|
|         Antarctica|      1106| McMurdo Station|
|Antigua and Barbuda|     97118|      St. John's|
|          Argentina|  44780677|    Buenos Aires|
|            Armenia|   2957731|         Yerevan|
|              Aruba|    106314|      Oranjestad|
|          Australia|  25203198|        Canberra|
|            Austria|   8955102|          Vienna|
|         Azerbaijan|  10047718|            Baku|
|            Bahamas|    389482|          Nassau|
|            Bahrain|   1641172|          Manama|
|         Bangladesh| 163046161|           Dhaka|
|           Barbados|    287025|      Bridgetown|
|            Belarus|   9452411|           Minsk|
+-------------------+----------+----------------+
only showing top 20 rows

In [ ]:
countries_df.select(countries_df['NAME'], countries_df['POPULATION'], countries_df['CAPITAL']).show()

+-------------------+----------+----------------+
|               NAME|POPULATION|         CAPITAL|
+-------------------+----------+----------------+
|        Afghanistan|  38041754|           Kabul|
|            Albania|   2880917|          Tirana|
|            Algeria|  43053054|         Algiers|
|     American Samoa|     55312|       Pago Pago|
|            Andorra|     77142|Andorra la Vella|
|             Angola|  31825295|          Luanda|
|           Anguilla|     14869|      The Valley|
|         Antarctica|      1106| McMurdo Station|
|Antigua and Barbuda|     97118|      St. John's|
|          Argentina|  44780677|    Buenos Aires|
|            Armenia|   2957731|         Yerevan|
|              Aruba|    106314|      Oranjestad|
|          Australia|  25203198|        Canberra|
|            Austria|   8955102|          Vienna|
|         Azerbaijan|  10047718|            Baku|
|            Bahamas|    389482|          Nassau|
|            Bahrain|   1641172|          Manama|
|         Bangladesh| 163046161|           Dhaka|
|           Barbados|    287025|      Bridgetown|
|            Belarus|   9452411|           Minsk|
+-------------------+----------+----------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col


countries_df.select(col('NAME'), col('POPULATION'), col('CAPITAL')).show()

+-------------------+----------+----------------+
|               NAME|POPULATION|         CAPITAL|
+-------------------+----------+----------------+
|        Afghanistan|  38041754|           Kabul|
|            Albania|   2880917|          Tirana|
|            Algeria|  43053054|         Algiers|
|     American Samoa|     55312|       Pago Pago|
|            Andorra|     77142|Andorra la Vella|
|             Angola|  31825295|          Luanda|
|           Anguilla|     14869|      The Valley|
|         Antarctica|      1106| McMurdo Station|
|Antigua and Barbuda|     97118|      St. John's|
|          Argentina|  44780677|    Buenos Aires|
|            Armenia|   2957731|         Yerevan|
|              Aruba|    106314|      Oranjestad|
|          Australia|  25203198|        Canberra|
|            Austria|   8955102|          Vienna|
|         Azerbaijan|  10047718|            Baku|
|            Bahamas|    389482|          Nassau|
|            Bahrain|   1641172|          Manama|
|         Bangladesh| 163046161|           Dhaka|
|           Barbados|    287025|      Bridgetown|
|            Belarus|   9452411|           Minsk|
+-------------------+----------+----------------+
only showing top 20 rows

In [ ]:
countries_df.select(col('NAME'), col('POPULATION'), col('CAPITAL')).withColumnRenamed('NAME', 'COUNTRY_NAME').show()

+-------------------+----------+----------------+
|       COUNTRY_NAME|POPULATION|         CAPITAL|
+-------------------+----------+----------------+
|        Afghanistan|  38041754|           Kabul|
|            Albania|   2880917|          Tirana|
|            Algeria|  43053054|         Algiers|
|     American Samoa|     55312|       Pago Pago|
|            Andorra|     77142|Andorra la Vella|
|             Angola|  31825295|          Luanda|
|           Anguilla|     14869|      The Valley|
|         Antarctica|      1106| McMurdo Station|
|Antigua and Barbuda|     97118|      St. John's|
|          Argentina|  44780677|    Buenos Aires|
|            Armenia|   2957731|         Yerevan|
|              Aruba|    106314|      Oranjestad|
|          Australia|  25203198|        Canberra|
|            Austria|   8955102|          Vienna|
|         Azerbaijan|  10047718|            Baku|
|            Bahamas|    389482|          Nassau|
|            Bahrain|   1641172|          Manama|
|         Bangladesh| 163046161|           Dhaka|
|           Barbados|    287025|      Bridgetown|
|            Belarus|   9452411|           Minsk|
+-------------------+----------+----------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import *

countries_df.withColumn('current_date', current_date()).show()

+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+------------+
|COUNTRY_ID|               NAME|         NATIONALITY|COUNTRY_CODE|ISO_ALPHA2|         CAPITAL|POPULATION| AREA_KM2|REGION_ID|SUB_REGION_ID|INTERMEDIATE_REGION_ID|ORGANIZATION_REGION_ID|current_date|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+------------+
|         1|        Afghanistan|              Afghan|         AFG|        AF|           Kabul|  38041754| 652230.0|       30|           30|                  NULL|                    30|  2024-06-02|
|         2|            Albania|            Albanian|         ALB|        AL|          Tirana|   2880917|  28748.0|       20|           70|                  NULL|                    20|  2024-06-02|
|         3|            Algeria|            Algerian|         DZA|        DZ|         Algiers|  43053054|2381741.0|       50|           40|                  NULL|                    20|  2024-06-02|
|         4|     American Samoa|     American Samoan|         ASM|        AS|       Pago Pago|     55312|    199.0|       40|           20|                  NULL|                    30|  2024-06-02|
|         5|            Andorra|            Andorran|         AND|        AD|Andorra la Vella|     77142|    468.0|       20|           70|                  NULL|                    20|  2024-06-02|
|         6|             Angola|             Angolan|         AGO|        AO|          Luanda|  31825295|1246700.0|       50|          160|                    80|                    20|  2024-06-02|
|         7|           Anguilla|           Anguillan|         AIA|        AI|      The Valley|     14869|     91.0|       10|           10|                    60|                    40|  2024-06-02|
|         8|         Antarctica|           Antarctic|         ATA|        AQ| McMurdo Station|      1106|   1.42E7|       40|         NULL|                  NULL|                    30|  2024-06-02|
|         9|Antigua and Barbuda|Antiguan or Barbudan|         ATG|        AG|      St. John's|     97118|    442.0|       10|           10|                    60|                    40|  2024-06-02|
|        10|          Argentina|           Argentine|         ARG|        AR|    Buenos Aires|  44780677|2780400.0|       10|           10|                    40|                    40|  2024-06-02|
|        11|            Armenia|            Armenian|         ARM|        AM|         Yerevan|   2957731|  29743.0|       30|          170|                  NULL|                    30|  2024-06-02|
|        12|              Aruba|              Aruban|         ABW|        AW|      Oranjestad|    106314|    180.0|       10|           10|                    60|                    40|  2024-06-02|
|        13|          Australia|          Australian|         AUS|        AU|        Canberra|  25203198|7692024.0|       40|           90|                  NULL|                    30|  2024-06-02|
|        14|            Austria|            Austrian|         AUT|        AT|          Vienna|   8955102|  83871.0|       20|          150|                  NULL|                    20|  2024-06-02|
|        15|         Azerbaijan|         Azerbaijani|         AZE|        AZ|            Baku|  10047718|  86600.0|       30|          170|                  NULL|                    30|  2024-06-02|
|        16|            Bahamas|            Bahamian|         BHS|        BS|          Nassau|    389482|  13943.0|       10|           10|                    60|                    40|  2024-06-02|
|        17|            Bahrain|            Bahraini|         BHR|        BH|          Manama|   1641172|    765.0|       30|          170|                  NULL|                    30|  2024-06-02|
|        18|         Bangladesh|         Bangladeshi|         BGD|        BD|           Dhaka| 163046161| 147570.0|       30|           30|                  NULL|                    30|  2024-06-02|
|        19|           Barbados|           Barbadian|         BRB|        BB|      Bridgetown|    287025|    430.0|       10|           10|                    60|                    40|  2024-06-02|
|        20|            Belarus|          Belarusian|         BLR|        BY|           Minsk|   9452411| 207600.0|       20|          140|                  NULL|                    20|  2024-06-02|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+------------+
only showing top 20 rows

In [ ]:
countries_df.withColumn('date_OF_TABLE', lit("20-10-2003")).show()

+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+-------------+
|COUNTRY_ID|               NAME|         NATIONALITY|COUNTRY_CODE|ISO_ALPHA2|         CAPITAL|POPULATION| AREA_KM2|REGION_ID|SUB_REGION_ID|INTERMEDIATE_REGION_ID|ORGANIZATION_REGION_ID|POPULATION_IN_MILLIONS|date_OF_TABLE|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+-------------+
|         1|        Afghanistan|              Afghan|         AFG|        AF|           Kabul|  38041754| 652230.0|       30|           30|                  NULL|                    30|             38.041754|   20-10-2003|
|         2|            Albania|            Albanian|         ALB|        AL|          Tirana|   2880917|  28748.0|       20|           70|                  NULL|                    20|              2.880917|   20-10-2003|
|         3|            Algeria|            Algerian|         DZA|        DZ|         Algiers|  43053054|2381741.0|       50|           40|                  NULL|                    20|             43.053054|   20-10-2003|
|         4|     American Samoa|     American Samoan|         ASM|        AS|       Pago Pago|     55312|    199.0|       40|           20|                  NULL|                    30|              0.055312|   20-10-2003|
|         5|            Andorra|            Andorran|         AND|        AD|Andorra la Vella|     77142|    468.0|       20|           70|                  NULL|                    20|              0.077142|   20-10-2003|
|         6|             Angola|             Angolan|         AGO|        AO|          Luanda|  31825295|1246700.0|       50|          160|                    80|                    20|             31.825295|   20-10-2003|
|         7|           Anguilla|           Anguillan|         AIA|        AI|      The Valley|     14869|     91.0|       10|           10|                    60|                    40|              0.014869|   20-10-2003|
|         8|         Antarctica|           Antarctic|         ATA|        AQ| McMurdo Station|      1106|   1.42E7|       40|         NULL|                  NULL|                    30|              0.001106|   20-10-2003|
|         9|Antigua and Barbuda|Antiguan or Barbudan|         ATG|        AG|      St. John's|     97118|    442.0|       10|           10|                    60|                    40|              0.097118|   20-10-2003|
|        10|          Argentina|           Argentine|         ARG|        AR|    Buenos Aires|  44780677|2780400.0|       10|           10|                    40|                    40|             44.780677|   20-10-2003|
|        11|            Armenia|            Armenian|         ARM|        AM|         Yerevan|   2957731|  29743.0|       30|          170|                  NULL|                    30|              2.957731|   20-10-2003|
|        12|              Aruba|              Aruban|         ABW|        AW|      Oranjestad|    106314|    180.0|       10|           10|                    60|                    40|              0.106314|   20-10-2003|
|        13|          Australia|          Australian|         AUS|        AU|        Canberra|  25203198|7692024.0|       40|           90|                  NULL|                    30|             25.203198|   20-10-2003|
|        14|            Austria|            Austrian|         AUT|        AT|          Vienna|   8955102|  83871.0|       20|          150|                  NULL|                    20|              8.955102|   20-10-2003|
|        15|         Azerbaijan|         Azerbaijani|         AZE|        AZ|            Baku|  10047718|  86600.0|       30|          170|                  NULL|                    30|             10.047718|   20-10-2003|
|        16|            Bahamas|            Bahamian|         BHS|        BS|          Nassau|    389482|  13943.0|       10|           10|                    60|                    40|              0.389482|   20-10-2003|
|        17|            Bahrain|            Bahraini|         BHR|        BH|          Manama|   1641172|    765.0|       30|          170|                  NULL|                    30|              1.641172|   20-10-2003|
|        18|         Bangladesh|         Bangladeshi|         BGD|        BD|           Dhaka| 163046161| 147570.0|       30|           30|                  NULL|                    30|            163.046161|   20-10-2003|
|        19|           Barbados|           Barbadian|         BRB|        BB|      Bridgetown|    287025|    430.0|       10|           10|                    60|                    40|              0.287025|   20-10-2003|
|        20|            Belarus|          Belarusian|         BLR|        BY|           Minsk|   9452411| 207600.0|       20|          140|                  NULL|                    20|              9.452411|   20-10-2003|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+-------------+
only showing top 20 rows

In [ ]:
countries_df = countries_df.withColumn('POPULATION_IN_MILLIONS', col('POPULATION')/1000000)

In [ ]:
countries_df.printSchema()

root
 |-- COUNTRY_ID: integer (nullable = true)
 |-- NAME: string (nullable = true)
 |-- NATIONALITY: string (nullable = true)
 |-- COUNTRY_CODE: string (nullable = true)
 |-- ISO_ALPHA2: string (nullable = true)
 |-- CAPITAL: string (nullable = true)
 |-- POPULATION: integer (nullable = true)
 |-- AREA_KM2: double (nullable = true)
 |-- REGION_ID: integer (nullable = true)
 |-- SUB_REGION_ID: integer (nullable = true)
 |-- INTERMEDIATE_REGION_ID: integer (nullable = true)
 |-- ORGANIZATION_REGION_ID: integer (nullable = true)
 |-- POPULATION_IN_MILLIONS: double (nullable = true)

In [ ]:
countries_df.filter("region_id !=10 and population == 0").show()

+----------+--------------------+--------------------+------------+----------+-------+----------+--------+---------+-------------+----------------------+----------------------+----------------------+
|COUNTRY_ID|                NAME|         NATIONALITY|COUNTRY_CODE|ISO_ALPHA2|CAPITAL|POPULATION|AREA_KM2|REGION_ID|SUB_REGION_ID|INTERMEDIATE_REGION_ID|ORGANIZATION_REGION_ID|POPULATION_IN_MILLIONS|
+----------+--------------------+--------------------+------------+----------+-------+----------+--------+---------+-------------+----------------------+----------------------+----------------------+
|        97|Heard Island and ...|Heard Island or M...|         HMD|        HM|   NULL|         0|   368.0|       40|           90|                  NULL|                    30|                   0.0|
+----------+--------------------+--------------------+------------+----------+-------+----------+--------+---------+-------------+----------------------+----------------------+----------------------+

In [ ]:
from pyspark.sql.functions import when

countries_df.withColumn('NAME_LENGTH', when(col('CAPITAL').isNull(), 0).otherwise(length(col('CAPITAL')))).show()

+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+-----------+
|COUNTRY_ID|               NAME|         NATIONALITY|COUNTRY_CODE|ISO_ALPHA2|         CAPITAL|POPULATION| AREA_KM2|REGION_ID|SUB_REGION_ID|INTERMEDIATE_REGION_ID|ORGANIZATION_REGION_ID|POPULATION_IN_MILLIONS|NAME_LENGTH|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+-----------+
|         1|        Afghanistan|              Afghan|         AFG|        AF|           Kabul|  38041754| 652230.0|       30|           30|                  NULL|                    30|             38.041754|          5|
|         2|            Albania|            Albanian|         ALB|        AL|          Tirana|   2880917|  28748.0|       20|           70|                  NULL|                    20|              2.880917|          6|
|         3|            Algeria|            Algerian|         DZA|        DZ|         Algiers|  43053054|2381741.0|       50|           40|                  NULL|                    20|             43.053054|          7|
|         4|     American Samoa|     American Samoan|         ASM|        AS|       Pago Pago|     55312|    199.0|       40|           20|                  NULL|                    30|              0.055312|          9|
|         5|            Andorra|            Andorran|         AND|        AD|Andorra la Vella|     77142|    468.0|       20|           70|                  NULL|                    20|              0.077142|         16|
|         6|             Angola|             Angolan|         AGO|        AO|          Luanda|  31825295|1246700.0|       50|          160|                    80|                    20|             31.825295|          6|
|         7|           Anguilla|           Anguillan|         AIA|        AI|      The Valley|     14869|     91.0|       10|           10|                    60|                    40|              0.014869|         10|
|         8|         Antarctica|           Antarctic|         ATA|        AQ| McMurdo Station|      1106|   1.42E7|       40|         NULL|                  NULL|                    30|              0.001106|         15|
|         9|Antigua and Barbuda|Antiguan or Barbudan|         ATG|        AG|      St. John's|     97118|    442.0|       10|           10|                    60|                    40|              0.097118|         10|
|        10|          Argentina|           Argentine|         ARG|        AR|    Buenos Aires|  44780677|2780400.0|       10|           10|                    40|                    40|             44.780677|         12|
|        11|            Armenia|            Armenian|         ARM|        AM|         Yerevan|   2957731|  29743.0|       30|          170|                  NULL|                    30|              2.957731|          7|
|        12|              Aruba|              Aruban|         ABW|        AW|      Oranjestad|    106314|    180.0|       10|           10|                    60|                    40|              0.106314|         10|
|        13|          Australia|          Australian|         AUS|        AU|        Canberra|  25203198|7692024.0|       40|           90|                  NULL|                    30|             25.203198|          8|
|        14|            Austria|            Austrian|         AUT|        AT|          Vienna|   8955102|  83871.0|       20|          150|                  NULL|                    20|              8.955102|          6|
|        15|         Azerbaijan|         Azerbaijani|         AZE|        AZ|            Baku|  10047718|  86600.0|       30|          170|                  NULL|                    30|             10.047718|          4|
|        16|            Bahamas|            Bahamian|         BHS|        BS|          Nassau|    389482|  13943.0|       10|           10|                    60|                    40|              0.389482|          6|
|        17|            Bahrain|            Bahraini|         BHR|        BH|          Manama|   1641172|    765.0|       30|          170|                  NULL|                    30|              1.641172|          6|
|        18|         Bangladesh|         Bangladeshi|         BGD|        BD|           Dhaka| 163046161| 147570.0|       30|           30|                  NULL|                    30|            163.046161|          5|
|        19|           Barbados|           Barbadian|         BRB|        BB|      Bridgetown|    287025|    430.0|       10|           10|                    60|                    40|              0.287025|         10|
|        20|            Belarus|          Belarusian|         BLR|        BY|           Minsk|   9452411| 207600.0|       20|          140|                  NULL|                    20|              9.452411|          5|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+-----------+
only showing top 20 rows

In [ ]:
countries_df.groupBy('REGION_ID').count().show()

+---------+-----+
|REGION_ID|count|
+---------+-----+
|       20|   51|
|       40|   30|
|       10|   57|
|       50|   60|
|       30|   51|
+---------+-----+

In [ ]:
#countries_df.groupBy('REGION_ID').sum('population').avg('AREA_KM2').show()

AttributeError: 'DataFrame' object has no attribute 'avg'

In [ ]:
countries_df.groupBy('REGION_ID').agg({'POPULATION': 'sum', 'AREA_KM2': 'avg'}).show()

+---------+---------------+------------------+
|REGION_ID|sum(POPULATION)|     avg(AREA_KM2)|
+---------+---------------+------------------+
|       20|      747205974| 452237.8325490196|
|       40|       42133644| 757190.3333333334|
|       10|     1014721683| 738277.8947368421|
|       50|     1308067919|512636.61666666664|
|       30|     4601371198| 630341.0196078431|
+---------+---------------+------------------+

In [ ]:
countries_df.show()

+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+
|COUNTRY_ID|               NAME|         NATIONALITY|COUNTRY_CODE|ISO_ALPHA2|         CAPITAL|POPULATION| AREA_KM2|REGION_ID|SUB_REGION_ID|INTERMEDIATE_REGION_ID|ORGANIZATION_REGION_ID|POPULATION_IN_MILLIONS|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+
|         1|        Afghanistan|              Afghan|         AFG|        AF|           Kabul|  38041754| 652230.0|       30|           30|                  NULL|                    30|             38.041754|
|         2|            Albania|            Albanian|         ALB|        AL|          Tirana|   2880917|  28748.0|       20|           70|                  NULL|                    20|              2.880917|
|         3|            Algeria|            Algerian|         DZA|        DZ|         Algiers|  43053054|2381741.0|       50|           40|                  NULL|                    20|             43.053054|
|         4|     American Samoa|     American Samoan|         ASM|        AS|       Pago Pago|     55312|    199.0|       40|           20|                  NULL|                    30|              0.055312|
|         5|            Andorra|            Andorran|         AND|        AD|Andorra la Vella|     77142|    468.0|       20|           70|                  NULL|                    20|              0.077142|
|         6|             Angola|             Angolan|         AGO|        AO|          Luanda|  31825295|1246700.0|       50|          160|                    80|                    20|             31.825295|
|         7|           Anguilla|           Anguillan|         AIA|        AI|      The Valley|     14869|     91.0|       10|           10|                    60|                    40|              0.014869|
|         8|         Antarctica|           Antarctic|         ATA|        AQ| McMurdo Station|      1106|   1.42E7|       40|         NULL|                  NULL|                    30|              0.001106|
|         9|Antigua and Barbuda|Antiguan or Barbudan|         ATG|        AG|      St. John's|     97118|    442.0|       10|           10|                    60|                    40|              0.097118|
|        10|          Argentina|           Argentine|         ARG|        AR|    Buenos Aires|  44780677|2780400.0|       10|           10|                    40|                    40|             44.780677|
|        11|            Armenia|            Armenian|         ARM|        AM|         Yerevan|   2957731|  29743.0|       30|          170|                  NULL|                    30|              2.957731|
|        12|              Aruba|              Aruban|         ABW|        AW|      Oranjestad|    106314|    180.0|       10|           10|                    60|                    40|              0.106314|
|        13|          Australia|          Australian|         AUS|        AU|        Canberra|  25203198|7692024.0|       40|           90|                  NULL|                    30|             25.203198|
|        14|            Austria|            Austrian|         AUT|        AT|          Vienna|   8955102|  83871.0|       20|          150|                  NULL|                    20|              8.955102|
|        15|         Azerbaijan|         Azerbaijani|         AZE|        AZ|            Baku|  10047718|  86600.0|       30|          170|                  NULL|                    30|             10.047718|
|        16|            Bahamas|            Bahamian|         BHS|        BS|          Nassau|    389482|  13943.0|       10|           10|                    60|                    40|              0.389482|
|        17|            Bahrain|            Bahraini|         BHR|        BH|          Manama|   1641172|    765.0|       30|          170|                  NULL|                    30|              1.641172|
|        18|         Bangladesh|         Bangladeshi|         BGD|        BD|           Dhaka| 163046161| 147570.0|       30|           30|                  NULL|                    30|            163.046161|
|        19|           Barbados|           Barbadian|         BRB|        BB|      Bridgetown|    287025|    430.0|       10|           10|                    60|                    40|              0.287025|
|        20|            Belarus|          Belarusian|         BLR|        BY|           Minsk|   9452411| 207600.0|       20|          140|                  NULL|                    20|              9.452411|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+
only showing top 20 rows

In [ ]:
countries_regions_df = spark.read.csv('/content/country_regions.csv', header = True, inferSchema = True)
countries_regions_df.show()

+---+-------+
| ID|   NAME|
+---+-------+
| 10|America|
| 20| Europe|
| 30|   Asia|
| 40|Oceania|
| 50| Africa|
+---+-------+

In [ ]:
countries_df.join(countries_regions_df, countries_df.REGION_ID == countries_regions_df.ID, 'rightouter').show()

+----------+--------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+---+-------+
|COUNTRY_ID|                NAME|         NATIONALITY|COUNTRY_CODE|ISO_ALPHA2|         CAPITAL|POPULATION| AREA_KM2|REGION_ID|SUB_REGION_ID|INTERMEDIATE_REGION_ID|ORGANIZATION_REGION_ID|POPULATION_IN_MILLIONS| ID|   NAME|
+----------+--------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+---+-------+
|       243|Virgin Islands (U...|  U.S. Virgin Island|         VIR|        VI|Charlotte Amalie|    104578|    347.0|       10|           10|                    60|                    40|              0.104578| 10|America|
|       242|Virgin Islands (B...|British Virgin Is...|         VGB|        VG|       Road Town|     30030|    151.0|       10|           10|                    60|                    40|               0.03003| 10|America|
|       240|Venezuela (Boliva...|          Venezuelan|         VEN|        VE|         Caracas|  28515829| 916445.0|       10|           10|                    40|                    40|             28.515829| 10|America|
|       237|             Uruguay|           Uruguayan|         URY|        UY|      Montevideo|   3461734| 181034.0|       10|           10|                    40|                    40|              3.461734| 10|America|
|       236|United States of ...|            American|         USA|        US|Washington, D.C.| 329064917|9372610.0|       10|           80|                  NULL|                    10|            329.064917| 10|America|
|       229|Turks and Caicos ...|Turks and Caicos ...|         TCA|        TC|   Cockburn Town|     38191|    948.0|       10|           10|                    60|                    40|              0.038191| 10|America|
|       225| Trinidad and Tobago|Trinidadian or To...|         TTO|        TT|   Port of Spain|   1394973|   5130.0|       10|           10|                    60|                    40|              1.394973| 10|America|
|       212|            Suriname|          Surinamese|         SUR|        SR|      Paramaribo|    581372| 163820.0|       10|           10|                    40|                    40|              0.581372| 10|America|
|       206|South Georgia and...|South Georgia or ...|         SGS|        GS|       Grytviken|        30|   3903.0|       10|           10|                    40|                    40|                3.0E-5| 10|America|
|       200|Sint Maarten (Dut...|        Sint Maarten|         SXM|        SX|     Philipsburg|     42388|     34.0|       10|           10|                    60|                    40|              0.042388| 10|America|
|       190|Saint Vincent and...|    Saint Vincentian|         VCT|        VC|       Kingstown|    110589|    389.0|       10|           10|                    60|                    40|              0.110589| 10|America|
|       189|Saint Pierre and ...|Saint-Pierrais or...|         SPM|        PM|      St. Pierre|      5822|    242.0|       10|           80|                  NULL|                    40|              0.005822| 10|America|
|       188|Saint Martin (Fre...|    Saint-Martinoise|         MAF|        MF|         Marigot|     38002|     53.0|       10|           10|                    60|                    40|              0.038002| 10|America|
|       187|         Saint Lucia|        Saint Lucian|         LCA|        LC|        Castries|    182790|    616.0|       10|           10|                    60|                    40|               0.18279| 10|America|
|       186|Saint Kitts and N...|Kittitian or Nevi...|         KNA|        KN|      Basseterre|     52823|    261.0|       10|           10|                    60|                    40|              0.052823| 10|America|
|       184|    Saint Barth�lemy|        Barth�lemois|         BLM|        BL|        Gustavia|      9847|     21.0|       10|           10|                    60|                    40|              0.009847| 10|America|
|       178|         Puerto Rico|        Puerto Rican|         PRI|        PR|        San Juan|   2933408|   8870.0|       10|           10|                    60|                    40|              2.933408| 10|America|
|       173|                Peru|            Peruvian|         PER|        PE|            Lima|  32510453|1285216.0|       10|           10|                    40|                    40|             32.510453| 10|America|
|       172|            Paraguay|          Paraguayan|         PRY|        PY|        Asunci�n|   7044636| 406752.0|       10|           10|                    40|                    40|              7.044636| 10|America|
|       170|              Panama|          Panamanian|         PAN|        PA|     Panama City|   4246439|  75417.0|       10|           10|                    20|                    40|              4.246439| 10|America|
+----------+--------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+---+-------+
only showing top 20 rows

In [ ]:
import pandas as pd

countries_pd = countries_df.toPandas()

type(countries_pd)

pandas.core.frame.DataFrame

In [ ]:
countries_pd.iloc[0]

COUNTRY_ID                          1
NAME                      Afghanistan
NATIONALITY                    Afghan
COUNTRY_CODE                      AFG
ISO_ALPHA2                         AF
CAPITAL                         Kabul
POPULATION                   38041754
AREA_KM2                     652230.0
REGION_ID                          30
SUB_REGION_ID                    30.0
INTERMEDIATE_REGION_ID            NaN
ORGANIZATION_REGION_ID             30
POPULATION_IN_MILLIONS      38.041754
Name: 0, dtype: object

In [ ]:
from pyspark.sql.functions import udf

from pyspark.sql.types import *


upperUDF = udf(lambda x: x.upper(), StringType())

In [ ]:
countries_df.withColumn("UPPER_CASE_NAMES", upperUDF(col('NAME'))).show()

+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+-------------------+
|COUNTRY_ID|               NAME|         NATIONALITY|COUNTRY_CODE|ISO_ALPHA2|         CAPITAL|POPULATION| AREA_KM2|REGION_ID|SUB_REGION_ID|INTERMEDIATE_REGION_ID|ORGANIZATION_REGION_ID|POPULATION_IN_MILLIONS|   UPPER_CASE_NAMES|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+-------------------+
|         1|        Afghanistan|              Afghan|         AFG|        AF|           Kabul|  38041754| 652230.0|       30|           30|                  NULL|                    30|             38.041754|        AFGHANISTAN|
|         2|            Albania|            Albanian|         ALB|        AL|          Tirana|   2880917|  28748.0|       20|           70|                  NULL|                    20|              2.880917|            ALBANIA|
|         3|            Algeria|            Algerian|         DZA|        DZ|         Algiers|  43053054|2381741.0|       50|           40|                  NULL|                    20|             43.053054|            ALGERIA|
|         4|     American Samoa|     American Samoan|         ASM|        AS|       Pago Pago|     55312|    199.0|       40|           20|                  NULL|                    30|              0.055312|     AMERICAN SAMOA|
|         5|            Andorra|            Andorran|         AND|        AD|Andorra la Vella|     77142|    468.0|       20|           70|                  NULL|                    20|              0.077142|            ANDORRA|
|         6|             Angola|             Angolan|         AGO|        AO|          Luanda|  31825295|1246700.0|       50|          160|                    80|                    20|             31.825295|             ANGOLA|
|         7|           Anguilla|           Anguillan|         AIA|        AI|      The Valley|     14869|     91.0|       10|           10|                    60|                    40|              0.014869|           ANGUILLA|
|         8|         Antarctica|           Antarctic|         ATA|        AQ| McMurdo Station|      1106|   1.42E7|       40|         NULL|                  NULL|                    30|              0.001106|         ANTARCTICA|
|         9|Antigua and Barbuda|Antiguan or Barbudan|         ATG|        AG|      St. John's|     97118|    442.0|       10|           10|                    60|                    40|              0.097118|ANTIGUA AND BARBUDA|
|        10|          Argentina|           Argentine|         ARG|        AR|    Buenos Aires|  44780677|2780400.0|       10|           10|                    40|                    40|             44.780677|          ARGENTINA|
|        11|            Armenia|            Armenian|         ARM|        AM|         Yerevan|   2957731|  29743.0|       30|          170|                  NULL|                    30|              2.957731|            ARMENIA|
|        12|              Aruba|              Aruban|         ABW|        AW|      Oranjestad|    106314|    180.0|       10|           10|                    60|                    40|              0.106314|              ARUBA|
|        13|          Australia|          Australian|         AUS|        AU|        Canberra|  25203198|7692024.0|       40|           90|                  NULL|                    30|             25.203198|          AUSTRALIA|
|        14|            Austria|            Austrian|         AUT|        AT|          Vienna|   8955102|  83871.0|       20|          150|                  NULL|                    20|              8.955102|            AUSTRIA|
|        15|         Azerbaijan|         Azerbaijani|         AZE|        AZ|            Baku|  10047718|  86600.0|       30|          170|                  NULL|                    30|             10.047718|         AZERBAIJAN|
|        16|            Bahamas|            Bahamian|         BHS|        BS|          Nassau|    389482|  13943.0|       10|           10|                    60|                    40|              0.389482|            BAHAMAS|
|        17|            Bahrain|            Bahraini|         BHR|        BH|          Manama|   1641172|    765.0|       30|          170|                  NULL|                    30|              1.641172|            BAHRAIN|
|        18|         Bangladesh|         Bangladeshi|         BGD|        BD|           Dhaka| 163046161| 147570.0|       30|           30|                  NULL|                    30|            163.046161|         BANGLADESH|
|        19|           Barbados|           Barbadian|         BRB|        BB|      Bridgetown|    287025|    430.0|       10|           10|                    60|                    40|              0.287025|           BARBADOS|
|        20|            Belarus|          Belarusian|         BLR|        BY|           Minsk|   9452411| 207600.0|       20|          140|                  NULL|                    20|              9.452411|            BELARUS|
+----------+-------------------+--------------------+------------+----------+----------------+----------+---------+---------+-------------+----------------------+----------------------+----------------------+-------------------+
only showing top 20 rows

In [ ]:
lines = spark.sparkContext.textFile("/content/schemadata.txt")

In [ ]:
from pyspark.sql import Row
part = lines.map(lambda x: x.split(" "))
people = part.map(lambda x: Row(name=x[0], age=int(x[1])))

schemapeopledf = spark.createDataFrame(people)

In [ ]:
schemapeopledf.show()

+---------+---+
|     name|age|
+---------+---+
|    pavan| 35|
|veerendra| 27|
|      raj| 34|
|   sooraj| 28|
| anubhuti| 24|
+---------+---+

In [ ]:
schemapeopledf.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [ ]:
schemastring = "name age"

fields = [StructField(field_name, StringType(), True) for field_name in schemastring.split(' ')]
schema = StructType(fields)

In [ ]:
mydf = spark.createDataFrame(people, schema)

In [ ]:
mydf.show()

+---------+---+
|     name|age|
+---------+---+
|    pavan| 35|
|veerendra| 27|
|      raj| 34|
|   sooraj| 28|
| anubhuti| 24|
+---------+---+