<a href="https://colab.research.google.com/github/eododukale/93_Python_Data_Analytics_Projects/blob/main/SparkSqlDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=316cee3e97e9ac7bf8a424ea7c610981b8a464ddc2a266c58c5395d4d22b0334
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkSQL DEMO").getOrCreate()

In [ ]:
# JSON FILE DATAFRAME

jsondf = spark.read.json("/content/cars.json")

In [ ]:
jsondf.show()

+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
|Acceleration|Cylinders|Displacement|Horsepower|Miles_per_Gallon|                Name|Origin|Weight_in_lbs|      Year|
+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
|        12.0|        8|       307.0|       130|            18.0|chevrolet chevell...|   USA|         3504|1970-01-01|
|        11.5|        8|       350.0|       165|            15.0|   buick skylark 320|   USA|         3693|1970-01-01|
|        11.0|        8|       318.0|       150|            18.0|  plymouth satellite|   USA|         3436|1970-01-01|
|        12.0|        8|       304.0|       150|            16.0|       amc rebel sst|   USA|         3433|1970-01-01|
|        10.5|        8|       302.0|       140|            17.0|         ford torino|   USA|         3449|1970-01-01|
|        10.0|        8|       429.0|       198|            15.0|    ford galaxie 500|   USA|         4341|1970-01-01|
|         9.0|        8|       454.0|       220|            14.0|    chevrolet impala|   USA|         4354|1970-01-01|
|         8.5|        8|       440.0|       215|            14.0|   plymouth fury iii|   USA|         4312|1970-01-01|
|        10.0|        8|       455.0|       225|            14.0|    pontiac catalina|   USA|         4425|1970-01-01|
|         8.5|        8|       390.0|       190|            15.0|  amc ambassador dpl|   USA|         3850|1970-01-01|
|        17.5|        4|       133.0|       115|            NULL|citroen ds-21 pallas|Europe|         3090|1970-01-01|
|        11.5|        8|       350.0|       165|            NULL|chevrolet chevell...|   USA|         4142|1970-01-01|
|        11.0|        8|       351.0|       153|            NULL|    ford torino (sw)|   USA|         4034|1970-01-01|
|        10.5|        8|       383.0|       175|            NULL|plymouth satellit...|   USA|         4166|1970-01-01|
|        11.0|        8|       360.0|       175|            NULL|  amc rebel sst (sw)|   USA|         3850|1970-01-01|
|        10.0|        8|       383.0|       170|            15.0| dodge challenger se|   USA|         3563|1970-01-01|
|         8.0|        8|       340.0|       160|            14.0|  plymouth 'cuda 340|   USA|         3609|1970-01-01|
|         8.0|        8|       302.0|       140|            NULL|ford mustang boss...|   USA|         3353|1970-01-01|
|         9.5|        8|       400.0|       150|            15.0|chevrolet monte c...|   USA|         3761|1970-01-01|
|        10.0|        8|       455.0|       225|            14.0|buick estate wago...|   USA|         3086|1970-01-01|
+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
only showing top 20 rows

In [ ]:
jsondf.printSchema()

root
 |-- Acceleration: double (nullable = true)
 |-- Cylinders: long (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: long (nullable = true)
 |-- Miles_per_Gallon: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Weight_in_lbs: long (nullable = true)
 |-- Year: string (nullable = true)

In [ ]:
mycsvdf = spark.read.csv("/content/stocks.csv")

In [ ]:
mycsvdf.show()

+------+----------+-----+
|   _c0|       _c1|  _c2|
+------+----------+-----+
|symbol|      date|price|
|  MSFT|Jan 1 2000|39.81|
|  MSFT|Feb 1 2000|36.35|
|  MSFT|Mar 1 2000|43.22|
|  MSFT|Apr 1 2000|28.37|
|  MSFT|May 1 2000|25.45|
|  MSFT|Jun 1 2000|32.54|
|  MSFT|Jul 1 2000| 28.4|
|  MSFT|Aug 1 2000| 28.4|
|  MSFT|Sep 1 2000|24.53|
|  MSFT|Oct 1 2000|28.02|
|  MSFT|Nov 1 2000|23.34|
|  MSFT|Dec 1 2000|17.65|
|  MSFT|Jan 1 2001|24.84|
|  MSFT|Feb 1 2001|   24|
|  MSFT|Mar 1 2001|22.25|
|  MSFT|Apr 1 2001|27.56|
|  MSFT|May 1 2001|28.14|
|  MSFT|Jun 1 2001| 29.7|
|  MSFT|Jul 1 2001|26.93|
+------+----------+-----+
only showing top 20 rows

In [ ]:
mycsvdf = spark.read.csv("/content/stocks.csv", header = True)

In [ ]:
mycsvdf.show()

+------+----------+-----+
|symbol|      date|price|
+------+----------+-----+
|  MSFT|Jan 1 2000|39.81|
|  MSFT|Feb 1 2000|36.35|
|  MSFT|Mar 1 2000|43.22|
|  MSFT|Apr 1 2000|28.37|
|  MSFT|May 1 2000|25.45|
|  MSFT|Jun 1 2000|32.54|
|  MSFT|Jul 1 2000| 28.4|
|  MSFT|Aug 1 2000| 28.4|
|  MSFT|Sep 1 2000|24.53|
|  MSFT|Oct 1 2000|28.02|
|  MSFT|Nov 1 2000|23.34|
|  MSFT|Dec 1 2000|17.65|
|  MSFT|Jan 1 2001|24.84|
|  MSFT|Feb 1 2001|   24|
|  MSFT|Mar 1 2001|22.25|
|  MSFT|Apr 1 2001|27.56|
|  MSFT|May 1 2001|28.14|
|  MSFT|Jun 1 2001| 29.7|
|  MSFT|Jul 1 2001|26.93|
|  MSFT|Aug 1 2001|23.21|
+------+----------+-----+
only showing top 20 rows

In [ ]:
mycsvdf.printSchema()

root
 |-- symbol: string (nullable = true)
 |-- date: string (nullable = true)
 |-- price: string (nullable = true)

In [ ]:
mycsvdf = spark.read.csv("/content/stocks.csv", header = True, inferSchema = True)

In [ ]:
mycsvdf.printSchema()

root
 |-- symbol: string (nullable = true)
 |-- date: string (nullable = true)
 |-- price: double (nullable = true)

In [ ]:
#GENERIC FORMAT

mygendf = spark.read.format("json").load("/content/cars.json")

In [ ]:
mygendf.show()

+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
|Acceleration|Cylinders|Displacement|Horsepower|Miles_per_Gallon|                Name|Origin|Weight_in_lbs|      Year|
+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
|        12.0|        8|       307.0|       130|            18.0|chevrolet chevell...|   USA|         3504|1970-01-01|
|        11.5|        8|       350.0|       165|            15.0|   buick skylark 320|   USA|         3693|1970-01-01|
|        11.0|        8|       318.0|       150|            18.0|  plymouth satellite|   USA|         3436|1970-01-01|
|        12.0|        8|       304.0|       150|            16.0|       amc rebel sst|   USA|         3433|1970-01-01|
|        10.5|        8|       302.0|       140|            17.0|         ford torino|   USA|         3449|1970-01-01|
|        10.0|        8|       429.0|       198|            15.0|    ford galaxie 500|   USA|         4341|1970-01-01|
|         9.0|        8|       454.0|       220|            14.0|    chevrolet impala|   USA|         4354|1970-01-01|
|         8.5|        8|       440.0|       215|            14.0|   plymouth fury iii|   USA|         4312|1970-01-01|
|        10.0|        8|       455.0|       225|            14.0|    pontiac catalina|   USA|         4425|1970-01-01|
|         8.5|        8|       390.0|       190|            15.0|  amc ambassador dpl|   USA|         3850|1970-01-01|
|        17.5|        4|       133.0|       115|            NULL|citroen ds-21 pallas|Europe|         3090|1970-01-01|
|        11.5|        8|       350.0|       165|            NULL|chevrolet chevell...|   USA|         4142|1970-01-01|
|        11.0|        8|       351.0|       153|            NULL|    ford torino (sw)|   USA|         4034|1970-01-01|
|        10.5|        8|       383.0|       175|            NULL|plymouth satellit...|   USA|         4166|1970-01-01|
|        11.0|        8|       360.0|       175|            NULL|  amc rebel sst (sw)|   USA|         3850|1970-01-01|
|        10.0|        8|       383.0|       170|            15.0| dodge challenger se|   USA|         3563|1970-01-01|
|         8.0|        8|       340.0|       160|            14.0|  plymouth 'cuda 340|   USA|         3609|1970-01-01|
|         8.0|        8|       302.0|       140|            NULL|ford mustang boss...|   USA|         3353|1970-01-01|
|         9.5|        8|       400.0|       150|            15.0|chevrolet monte c...|   USA|         3761|1970-01-01|
|        10.0|        8|       455.0|       225|            14.0|buick estate wago...|   USA|         3086|1970-01-01|
+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
only showing top 20 rows

In [ ]:
mycsvdf = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/content/stocks.csv")

In [ ]:
mycsvdf.show()

+------+----------+-----+
|symbol|      date|price|
+------+----------+-----+
|  MSFT|Jan 1 2000|39.81|
|  MSFT|Feb 1 2000|36.35|
|  MSFT|Mar 1 2000|43.22|
|  MSFT|Apr 1 2000|28.37|
|  MSFT|May 1 2000|25.45|
|  MSFT|Jun 1 2000|32.54|
|  MSFT|Jul 1 2000| 28.4|
|  MSFT|Aug 1 2000| 28.4|
|  MSFT|Sep 1 2000|24.53|
|  MSFT|Oct 1 2000|28.02|
|  MSFT|Nov 1 2000|23.34|
|  MSFT|Dec 1 2000|17.65|
|  MSFT|Jan 1 2001|24.84|
|  MSFT|Feb 1 2001| 24.0|
|  MSFT|Mar 1 2001|22.25|
|  MSFT|Apr 1 2001|27.56|
|  MSFT|May 1 2001|28.14|
|  MSFT|Jun 1 2001| 29.7|
|  MSFT|Jul 1 2001|26.93|
|  MSFT|Aug 1 2001|23.21|
+------+----------+-----+
only showing top 20 rows

In [ ]:
#sql programatically

mycsvdf.createOrReplaceTempView("stocks_view")

mytf = spark.sql("select symbol, price from stocks_view where price > 25.0 ")

In [ ]:
mytf.show()

+------+-----+
|symbol|price|
+------+-----+
|  MSFT|39.81|
|  MSFT|36.35|
|  MSFT|43.22|
|  MSFT|28.37|
|  MSFT|25.45|
|  MSFT|32.54|
|  MSFT| 28.4|
|  MSFT| 28.4|
|  MSFT|28.02|
|  MSFT|27.56|
|  MSFT|28.14|
|  MSFT| 29.7|
|  MSFT|26.93|
|  MSFT|26.12|
|  MSFT|26.95|
|  MSFT|25.92|
|  MSFT|25.35|
|  MSFT|25.71|
|  MSFT|26.14|
|  MSFT|25.04|
+------+-----+
only showing top 20 rows

In [ ]:
mycsvdf.write.parquet("mycsvtoparquet")

In [ ]:
mycsvdf.write.format("orc").save("myorcformat")

In [ ]:
myparquetdf = spark.read.format("parquet").load("/content/mycsvtoparquet/part-00000-2889138b-b5c4-4ee0-95f0-3462fecd3b0d-c000.snappy.parquet")

In [ ]:
myparquetdf.show()

+------+----------+-----+
|symbol|      date|price|
+------+----------+-----+
|  MSFT|Jan 1 2000|39.81|
|  MSFT|Feb 1 2000|36.35|
|  MSFT|Mar 1 2000|43.22|
|  MSFT|Apr 1 2000|28.37|
|  MSFT|May 1 2000|25.45|
|  MSFT|Jun 1 2000|32.54|
|  MSFT|Jul 1 2000| 28.4|
|  MSFT|Aug 1 2000| 28.4|
|  MSFT|Sep 1 2000|24.53|
|  MSFT|Oct 1 2000|28.02|
|  MSFT|Nov 1 2000|23.34|
|  MSFT|Dec 1 2000|17.65|
|  MSFT|Jan 1 2001|24.84|
|  MSFT|Feb 1 2001| 24.0|
|  MSFT|Mar 1 2001|22.25|
|  MSFT|Apr 1 2001|27.56|
|  MSFT|May 1 2001|28.14|
|  MSFT|Jun 1 2001| 29.7|
|  MSFT|Jul 1 2001|26.93|
|  MSFT|Aug 1 2001|23.21|
+------+----------+-----+
only showing top 20 rows